<div class="user-details">
  <h1>A few words about me</h1>
  <div>
    <i class="icon left fas fa-laptop-code"></i>
    <p>Machine Learning is my domain of expertise, but all kinds of computer science related topics draw my attention from time to time. Pushing machines to do new things is challenging enough to keep me in constant development while it is powerful enough to make meaningful changes in our lives. This is what drives me to work hard every day.</p>
  </div>
  <div>
    <i class="icon right fas fa-globe-americas"></i>
    <p>From the very beginning of my life, I was an explorer. Each moment I could play with a new thing or explore some new places was an adventure for me. Now, when I'm older, I appreciate ideas like digital nomading and open source. They make it possible to experience and learn much more about the world and the people around it that it was ever possible.</p>
  </div>
  <div>
    <i class="icon left fas fa-anchor"></i>
    <p>Sailing is my passion. I have been sailing since I was one year old. It taught me a lot. What responsibility is and how it affects social interactions. Why it is not wise to overestimate my skills and to always be ready for the occurrence of the unexpected. Lastly, how to always look forward a few steps ahead when preparing a plan.</p>
  </div>
  <div>
    <i class="icon right fas fa-basketball-ball"></i>
    <p>Competitiveness is no doubt a big factor in my personality. Throughout all my life I was always ready to put the effort into a fair rivalry. Either it was sports or board games, computer gaming, or other skill contest. If there is a challenge I'm ready. Nonetheless over the years the way I perceive these things changed. It's more about appreciating greatness than simply proving who is better. </p>
  </div>
  <div>
    <i class="icon left fas fa-comments"></i>
    <p>I like the people. Don't know if it is extroversion, but I do like them. Everyone is different, but thankfully we are social creatures. We can communicate, so we can learn from each other and what is probably the most remarkable thing, we can care for each other. Life is teaching me again and again that it is always worth trying to understand one another.</p>
  </div>
  <div>
    <i class="icon right fas fa-book"></i>
    <p>I'm a book freak and I'm always hungry. A day without a book is a day lost. I'm grateful we live in times when most people could learn how to read and that there are more books worth reading than time in a single lifetime to read them all. If you reached this sentence, you might want to contact me. If so, I would appreciate a single great book recommendation. Thank you in advance and my best regards.</p>
  </div>
</div>

