<div class="user-details">
  <h1>Few words about me</h1>
  <div>
    <i class="icon left fas fa-laptop-code"></i>
    <p>Machine Learning is my domain of expertise, but all kinds of computer science related topics draw my attention from time to time. Pushing machines to do new things is challening enough to keep me in constant development while it is powerfull enough to make meaningfull changes in our lives. This is what drives me to work hard every day.</p>
  </div>
  <div>
    <i class="icon right fas fa-globe-americas"></i>
    <p>From the very beginning of my life I was an explorer. Each moment I could play with a new thing or explore some new places was an adventure for me. Now, when I'm older, I appreciate ideas like digital nomading and open source. They make it possible to experience and learn much more about the world and people around it that it was ever possible.</p>
  </div>
  <div>
    <i class="icon left fas fa-anchor"></i>
    Sailing is my passion. I have been sailing since I was one year old. When you use 
  </div>
  <div>
    <i class="icon right fas fa-basketball-ball"></i>
    Competetive gaming
  </div>
  <div>
    <i class="icon left fas fa-comments"></i>
    Talking with people
  </div>
  <div>
    <i class="icon right fa fa-book"></i>
    Book freak
  </div>
</div>

